.semaforo{
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

.semaforo .luz{
  width: 75px;
  height: 75px;
  border-radius: 100%;
  background-color: lightgray;
}

.siga{
  background-color: green !important
}

.precaucion{
  background-color: yellow !important
}

.alto{
  background-color: red !important
}